<% layout('layouts/boilerplate') %> 
<div class="row">
  <div class="col-6 ">
      <div class="card mb-3">
    <form action="/products/<%=product._id%>?_method=PUT" method="post">
    
      <div class="card-body">
        <h5 class="card-title">Product name:<input type="text" value="<%= product.name%>"></h5>
        <p class="card-text">Product code:<input type="text" value="<%= product.code%>"></p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item text-muted">Units left: <input type="text" value="<%= product.units%>"></li>
        <li class="list-group-item text-muted">Price/unit: <input type="text" value="<%= product.price%>"></li>
        <li class="list-group-item">restocked on:<input type="text" value="<%= product.restock_date%>"></li>
       
    </ul>
          
        </tbody>
      </table> 
      <div class="mb-3">
      
        
        <button class="btn btn-success" >submit</button>
      
    </div>
    <a href="/products/<%=product._id%> ">BACK TO HOMEPAGE</a>
  
    </form>
    </div>
    </div>
    </div>

