<% layout('layouts/boilerplate') %> 
<figure class="text-center">
<h1 class="display-6" >Inventory</h1></figure>
    <%for(let product of products){%>
        <% layout('layouts/boilerplate') %> 
        <%for(let product of products){%>
             
  
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Code</th>
                    <th scope="col">Price</th>
                    <th scope="col">Units</th>
                    <th scope="col">Restocked on</th>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    
                    <td><a href="products/<%=product._id%>"><%=product.name %></a> </td>
                    <td><%=product.code %></td>
                    <td><%=product.price %></td>
                    <td><%=product.units %></td>
                    <td><%=product.restick_date %></td>
                    
                  </tr>
                </tbody>
                
              </table> 
              <h5>Final Amount:<%=product.productAmount%> </h5>
          
    <section>     </section>
    <br>
              
        
             <% }%>  
        <% } %>  

