<% layout('layouts/boilerplate') %> 
    <div class="row">
        <div class="col-6 ">
            <div class="card mb-3">
                
                <div class="card-body">
                    <h5 class="card-title">Product name:<%= product.name%></h5>
                    <p class="card-text">Product code:<%= product.code%></p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-muted">Units left:<%= product.units%></li>
                    <li class="list-group-item text-muted">:<%= product.price%></li>
                    <li class="list-group-item">restocked on:<%= product.restock_date%></li>
                    
                   
                </ul>
            
                <div class="card-body">
                    <a class="card-link btn btn-info" href="/products/<%=product._id%>/edit">Edit</a>
                    <form class="d-inline" action="/products/<%=product._id%>?_method=DELETE" method="POST">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                    
                </div>
               <a href="/products">Back to products </a>
              
                <div class="card-footer text-muted">
                    2 days ago
                </div>
            </div>
            
        
        </div>



